In [ ]:
# 8.1 EDA Demonstration
import pandas as pd
%matplotlib inline

In [ ]:
# We will store the orders table csv data in a variable
# Tabs are used as the separating character in this file

In [ ]:
# Use the head method to investigate the first row of data

In [ ]:
# Create a dataframe to view the column names and data types

In [ ]:
# Use the shape attribute to determine the amount of rows and columns total

In [ ]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index

In [ ]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe

In [ ]:
# Explore columns with column attributes and methods

In [ ]:
# 8.2 Exploring a new dataset
# Import the products.csv dataset and explore the following questions:

In [ ]:
# A. What are the columns and index: do they suggest any relationship to other tables?

In [ ]:
# B. How many rows of data are there?

In [ ]:
# C. What are the types of each column?

In [ ]:
# 8.3 Boolean Filtering
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:

In [ ]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"

In [ ]:
# B. Which product is the most commonly ordered on 2017-06-08

In [ ]:
# 8.4 Sorting and Filtering

In [ ]:
# A. What are the three most profitable orders purchased by customer PO-8865?

In [ ]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quanitity?

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! üêº