# Pandas EDA

## 1. EDA Demonstration

In [2]:
import pandas as pd

In [3]:
# We will store the table csv data in a variable
# Tabs are used as the separating character in this file
orders = pd.read_csv('data/datasets/orders.csv')

In [4]:
# Use the head method to investigate the first row of data
orders.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [5]:
# Create a dataframe to view the column names and data types
pd.DataFrame(orders.dtypes, columns=["DataType"])

            DataType
order_id      object
order_date    object
ship_date     object
ship_mode     object
customer_id   object
product_id    object
sales        float64
quantity       int64
discount     float64
profit       float64
postal_code  float64
region_id    float64

In [6]:
# Use the shape attribute to determine the amount of rows and columns total
orders.shape
print(f"There are {orders.shape[0]} rows and {orders.shape[1]} columns")

There are 999991 rows and 12 columns

In [7]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index
print(orders.columns)
print(orders.index.name)

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')
None

In [8]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe
orders.rename(columns={"discount": "discount_amount", "order_date": "ordered_on_date"}, inplace=False)

,order_id,ordered_on_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount_amount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1826.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999986,ZI-2020-495856,2020-01-04,2020-01-09,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
999987,ZI-2020-5409624,2020-01-13,2020-01-18,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
999988,ZI-2020-5478741,2020-01-10,2020-01-10,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
999989,ZI-2020-5986855,2020-01-08,2020-01-11,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0
999990,ZI-2020-863102,2020-01-22,2020-01-27,Standard Class,JM-5250,FUR-SAF-10002314,49.65,1,0.22,0.14,77095.0,1488.0

In [9]:
# Explore columns with column attributes and methods
orders['postal_code'].value_counts()
len(orders['postal_code'].unique())
orders['profit'].describe()

count    999991.000000
mean          1.658624
std          39.977661
min       -6599.980000
25%           0.100000
50%           0.200000
75%           0.290000
max        8399.980000
Name: profit, dtype: float64

## 2. Exploring a new dataset

In [11]:
# Import the products.csv dataset and explore the following questions:
products = pd.read_csv('data/datasets/products.csv')

In [12]:
# A. What are the columns and index: do they suggest any relationship to other tables?
products.columns

Index(['product_id', 'category', 'sub_category', 'product_name',
       'product_cost_to_consumer'],
      dtype='object')

In [13]:
# B. How many rows of data are there?
products.shape[0]

10292

In [14]:
# C. What are the types of each column?
pd.DataFrame(products.dtypes, columns=["DataType"])

                         DataType
product_id                 object
category                   object
sub_category               object
product_name               object
product_cost_to_consumer  float64

## 3. Boolean Filtering

In [15]:
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:

In [16]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"
orders[orders["ship_mode"] == "Second Class"]["profit"].mean()

1.0517047992868271

In [17]:
# B. Which product is the most commonly ordered on 2017-06-08 
orders[orders["order_date"]=="2017-06-08"]["product_id"].value_counts()

OFF-ST-10001963     4
OFF-ST-10001426     3
OFF-AR-10003875     3
TEC-AC-10001840     3
OFF-LA-10002295     2
                   ..
FUR-BO-10000676     1
OFF-LA-10004430     1
OFF-LA-10004062     1
TEC-MA-10003704     1
OFF-GRE-10003899    1
Name: product_id, Length: 308, dtype: int64

## 4. Sorting and Filtering

In [21]:
# A. What are the three most profitable orders purchased by customer PO-8865?
orders[orders['customer_id'] == "PO-8865"].sort_values(by="profit", ascending=False).head(3)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
608,AG-2017-2220,2017-12-26,2017-12-30,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.2,190.80,NaN,12699.0
28981,CA-2017-2910,2017-06-04,2017-06-08,Standard Class,PO-8865,OFF-BIN-10004729,198.00,4,0.1,65.28,NaN,2570.0
3946,AG-2019-6470,2019-01-13,2019-01-15,First Class,PO-8865,TEC-SHA-10004874,293.85,1,0.2,61.68,NaN,45585.0

In [22]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quanitity?
orders[orders['product_id'] == 'TEC-HEW-10002304'].sort_values(by='quantity', ascending=False).head(5)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
581,AG-2017-1949725,2017-12-16,2017-12-18,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.22,0.20,NaN,16676.0
889,AG-2017-4980033,2017-12-07,2017-12-12,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.22,0.20,NaN,7530.0
608,AG-2017-2220,2017-12-26,2017-12-30,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.20,190.80,NaN,12699.0
1671,AG-2018-4980110,2018-01-05,2018-01-08,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.23,0.19,NaN,783.0
1497,AG-2018-3851058,2018-01-15,2018-01-18,Standard Class,PO-8865,TEC-HEW-10002304,1908.72,6,0.23,0.19,NaN,4792.0

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼